In [16]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [17]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [18]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [20]:
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [44]:
#split category and sub-category column to separate the the categories
crowdfunding_info_df[['category', 'sub_category']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)
#unique categories and sorted
categories=(crowdfunding_info_df["category"].unique())
print(categories)
subcategories=crowdfunding_info_df["sub_category"].unique()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [30]:
#category dataframe for category with ids
categories = pd.DataFrame({"category_id":range(1,len(unique_categories)+1),
                           "category":unique_categories})

categories

   category_id      category
0            1  film & video
1            2          food
2            3         games
3            4    journalism
4            5         music
5            6   photography
6            7    publishing
7            8    technology
8            9       theater

In [31]:
len(categories)

9

In [45]:
len(subcategories)

24

In [35]:
#export the datafrmae categories
categories.to_csv("category.csv")

In [46]:
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

In [47]:
category_ids

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [ ]:
category_ids = np.arange(1, 10)

In [56]:
"cat[i]".join([i for i in range(10)])

TypeError: sequence item 0: expected str instance, int found

In [58]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
category_ids = range(1, len(categories) + 1) # This is just an example; replace it with your actual range
cat_ids = [f'cat{id}' for id in category_ids]

In [64]:
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [63]:
subcategory_ids = range(1, len(subcategories) + 1) # This is just an example; replace it with your actual range
scat_ids = [f'subcat{id}' for id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [67]:
cat_ids = [f'cat{id}' for id in category_ids]
cat_ids

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']

In [68]:
scat_ids = [f'subcat{id}' for id in subcategory_ids]
scat_ids

['subcat1',
 'subcat2',
 'subcat3',
 'subcat4',
 'subcat5',
 'subcat6',
 'subcat7',
 'subcat8',
 'subcat9',
 'subcat10',
 'subcat11',
 'subcat12',
 'subcat13',
 'subcat14',
 'subcat15',
 'subcat16',
 'subcat17',
 'subcat18',
 'subcat19',
 'subcat20',
 'subcat21',
 'subcat22',
 'subcat23',
 'subcat24']