In [360]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [361]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [362]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [363]:
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [364]:
#split category and sub-category column to separate the the categories
crowdfunding_info_df[['category', 'sub_category']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)
#unique categories and sorted
categories=(crowdfunding_info_df["category"].unique())
print(categories)
subcategories=crowdfunding_info_df["sub_category"].unique()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [365]:
#category dataframe for category with ids
categories = pd.DataFrame({"category_id":range(1,len(unique_categories)+1),
                           "category":unique_categories})

categories

NameError: name 'unique_categories' is not defined

In [366]:
len(categories)

9

In [367]:
len(subcategories)

24

In [368]:
#export the datafrmae categories
categories.to_csv("category.csv")

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'

In [369]:
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

In [370]:
category_ids

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [372]:
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [373]:
category_ids = np.arange(1, 10)

In [374]:
"cat[i]".join([i for i in range(10)])

TypeError: sequence item 0: expected str instance, int found

In [375]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [376]:
category_ids = range(1, len(categories) + 1) # This is just an example; replace it with your actual range
cat_ids = [f'cat{id}' for id in category_ids]

In [377]:
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [378]:
subcategory_ids = range(1, len(subcategories) + 1) # This is just an example; replace it with your actual range
scat_ids = [f'subcat{id}' for id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [379]:
cat_ids = [f'cat{id}' for id in category_ids]
cat_ids

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']

In [380]:
scat_ids = [f'subcat{id}' for id in subcategory_ids]
scat_ids

['subcat1',
 'subcat2',
 'subcat3',
 'subcat4',
 'subcat5',
 'subcat6',
 'subcat7',
 'subcat8',
 'subcat9',
 'subcat10',
 'subcat11',
 'subcat12',
 'subcat13',
 'subcat14',
 'subcat15',
 'subcat16',
 'subcat17',
 'subcat18',
 'subcat19',
 'subcat20',
 'subcat21',
 'subcat22',
 'subcat23',
 'subcat24']

In [382]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head(5)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub_category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [258]:
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_date            1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  sub_category             1000 non-null   object
dtypes: bool(2), int64(7), object(8)
memory usage: 119.3+ KB

In [383]:
import pandas as pd
from datetime import datetime as dt

# Assuming campaign_df is your DataFrame

# Convert Unix timestamp integers to datetime objects and then format to get only the date part


# Assuming df is your DataFrame and 'timestamp_column' is the column with Unix timestamps
comapaign_df["launched_date"] = pd.to_datetime(campaign_df["launched_date"], unit='s').dt.strftime('%Y-%m-%d')

compaign_df.head()
# Now 'timestamp_column' in your DataFrame will be formatted as 'YYYY-MM-DD'

KeyError: 'launched_date'

In [262]:
campaign_df

NameError: name 'category_df' is not defined

In [384]:
crowdfunding_info_df[['category', 'sub_category']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)

In [385]:
# Get the unique categories and subcategories in separate lists.
categories=(crowdfunding_info_df["category"].unique())

subcategories=crowdfunding_info_df["sub_category"].unique()
print(categories)
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [386]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [387]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [388]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = [f'cat{id}' for id in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = [f'subcat{id}' for id in subcategory_ids]
    
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [389]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
#cat_ids
category_df =pd.DataFrame({
    "category_ids":cat_ids,
    "category":categories
            })
category_df.head()
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
#scat_ids
subcategory_df=pd.DataFrame({
            "subcategory_ids":scat_ids,
            "subcategory":subcategories
            })

In [390]:
subcategory_df.head(5)

  subcategory_ids  subcategory
0         subcat1  food trucks
1         subcat2         rock
2         subcat3          web
3         subcat4        plays
4         subcat5  documentary

In [308]:
#category_df.head(5),
category_df.head(3)

  category_ids    category
0         cat1        food
1         cat2       music
2         cat3  technology

In [354]:
campaign_df.head(2)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub_category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock

In [391]:
import pandas as pd

# Assuming df is your DataFrame and 'timestamp_column' is the column with Unix timestamps

campaign_df["launched_at"] = pd.to_datetime(campaign_df["launched_at"], unit="s").dt.strftime("%Y-%m-%d")
campaign_df["deadline"] = pd.to_datetime(campaign_df["deadline"], unit="s").dt.strftime("%Y-%m-%d")

# Now 'timestamp_column' in your DataFrame will be formatted as 'YYYY-MM-DD'

campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub_category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [401]:
# Merge campaign_df with category_df on the "category" column.

# Assuming df1 is your main DataFrame and df_category and df_subcategory are your category and subcategory DataFrames.

# Merge with the category DataFrame on 'category_id'.
merged_df = pd.merge(campaign_df, category_df, left_on='category', right_on='category', how='left')

merged_df.rename(columns={'sub_category': 'subcategory'}, inplace=True)
# Merge with the subcategory DataFrame on 'subcategory_id'.
final_merged_df = pd.merge(merged_df, subcategory_df, left_on='subcategory', right_on='subcategory', how='left')

# If there are any duplicate columns after the merge (e.g., two 'category' columns), you can drop one.
# merged_df.drop(columns=['category_x'], inplace=True)

# Optionally, you can rename colums to ensure they have the expected names.
# merged_df.rename(columns={'category_y': 'category'}, inplace=True)

# Now check the alignment of your DataFrame

final_merged_df.tail(10)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory,category_ids,subcategory_ids
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800,6839,failed,64,US,USD,2021-06-09,2021-06-18,False,True,film & video/drama,film & video,drama,cat5,subcat7
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800,11091,successful,241,US,USD,2020-12-09,2021-05-26,False,True,music/rock,music,rock,cat2,subcat2
992,439,3924,Morrow Inc,Networked global migration,3100,13223,successful,132,US,USD,2020-06-14,2021-02-09,False,True,film & video/drama,film & video,drama,cat5,subcat7
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat8,subcat15
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100,74073,failed,842,US,USD,2021-11-15,2021-12-07,False,True,publishing/translations,publishing,translations,cat6,subcat19
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food/food trucks,food,food trucks,cat1,subcat1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater/plays,theater,plays,cat4,subcat4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater/plays,theater,plays,cat4,subcat4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music/indie rock,music,indie rock,cat2,subcat8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food/food trucks,food,food trucks,cat1,subcat1

In [283]:
merged_df.rename(columns={'sub_category': 'subcategory'}, inplace=True)
merged_df.head(1)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_ids
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-12,2021-02-28,False,False,food/food trucks,food,food trucks,cat1

In [285]:
# Second merge: Merge the result with subcategory_df on "subcategory"
campaign_merged_df = pd.merge(merged_df, subcategory_df, on='subcategory', how='inner')

# The final_merged_df DataFrame now contains merged data from all three DataFrames
campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_ids,subcategory_ids
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300,2111,failed,57,CA,CAD,2021-12-28,2022-01-15,False,False,photography/photography books,photography,photography books,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700,1343,failed,52,US,USD,2020-07-06,2021-07-26,False,False,photography/photography books,photography,photography books,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000,8142,failed,263,AU,AUD,2020-12-19,2021-01-30,False,False,photography/photography books,photography,photography books,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000,55805,failed,1691,US,USD,2021-04-07,2021-12-17,True,False,photography/photography books,photography,photography books,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900,4997,failed,114,IT,EUR,2021-07-22,2021-11-24,False,True,photography/photography books,photography,photography books,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,2021-07-02,2021-07-07,False,True,photography/photography books,photography,photography books,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400,4596,successful,144,US,USD,2020-11-27,2021-02-27,False,False,journalism/audio,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700,7496,successful,300,US,USD,2021-01-03,2021-10-03,False,False,journalism/audio,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900,12155,successful,419,US,USD,2021-01-24,2021-04-17,False,False,journalism/audio,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700,11929,successful,331,US,USD,2022-01-31,2022-02-15,False,False,journalism/audio,journalism,audio,cat9,subcat24

In [289]:
campaign_merged_df =campaign_merged_df[["cf_id","contact_id","company_name","description","goal","pledged","outcome","backers_count","country","currency","launched_date","end_date","category_ids","subcategory_ids"]]
campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_ids,subcategory_ids
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300,2111,failed,57,CA,CAD,2021-12-28,2022-01-15,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700,1343,failed,52,US,USD,2020-07-06,2021-07-26,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000,8142,failed,263,AU,AUD,2020-12-19,2021-01-30,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000,55805,failed,1691,US,USD,2021-04-07,2021-12-17,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900,4997,failed,114,IT,EUR,2021-07-22,2021-11-24,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,2021-07-02,2021-07-07,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400,4596,successful,144,US,USD,2020-11-27,2021-02-27,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700,7496,successful,300,US,USD,2021-01-03,2021-10-03,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900,12155,successful,419,US,USD,2021-01-24,2021-04-17,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700,11929,successful,331,US,USD,2022-01-31,2022-02-15,cat9,subcat24

In [292]:
import pandas as pd

# Assuming df is your DataFrame

# Convert Unix timestamps to pandas datetime objects for the whole columns
campaign_df['launched_date'] = pd.to_datetime(campaign_df['launched_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

# Format datetime objects to strings in 'YYYY-MM-DD' format for the whole columns
campaign_df['launched_date'] = campaign_df['launched_date'].dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = campaign_df['end_date'].dt.strftime('%Y-%m-%d')

# Now df has the 'launched_date' and 'end_date' columns in the 'YYYY-MM-DD' format.

ValueError: unit='s' not valid with non-numerical val='2020-02-12', at position 0